<style>
    .social-links ul li a.social-link-item:hover, .social-links ul li a.social-link-item:focus {
        color: #4747ff;
    }
    .social-links ul li a.social-link-item {
        color: blue;
    }
    a:hover, a:focus {
        color: #4ec3f9;
        text-decoration: none;
    }
    a:active, a:hover {
        outline: 0;
    }

    #af-social-links .af-facebook{
        color: rgba(59, 89, 152, 1);
    }
    #af-social-links .af-facebook:hover{
        color: rgba(59, 89, 152, 0.8);
    }
    #af-social-links .af-twitter{
        color: rgba(0, 172, 237, 1);
    }
    #af-social-links .af-twitter:hover{
        color: rgba(0, 172, 237, 0.8);
    }
    #af-social-links .af-email .fa{
        font-weight: bold;
    }
    #af-social-links .af-email{
        color: rgba(75, 75, 75, 1);
        /*color: rgba(25, 25, 25, 1);*/
    }
    #af-social-links .af-email:hover{
        color: rgba(75, 75, 75, 0.8);
        /*color: rgba(25, 25, 25, 0.8);*/
    }
    #af-social-links .af-google .fa{
        font-weight: bold;
    }
    #af-social-links .af-google{
        font-weight: bold;
        color: rgba(221, 75, 57, 1);
    }
    #af-social-links .af-google:hover{
        color: rgba(221, 75, 57, 0.8);
    }
    #af-social-links .af-linkedin{
        color: rgba(0, 123, 182, 1);
    }
    #af-social-links .af-linkedin:hover{
        color: rgba(0, 123, 182, 0.8);
    }
    #af-social-links .af-github{
        color: rgba(23, 21, 21, 1);
    }
    #af-social-links .af-github:hover{
        color: rgba(23, 21, 21, 0.8);
    }
    #af-social-links .af-whatsapp .fa{
        font-weight: bold;
    }
    #af-social-links .af-whatsapp{
        font-weight: bold;
        color: rgba(37, 211, 102, 1);
    }
    #af-social-links .af-whatsapp:hover{
        color: rgba(37, 211, 102, 0.8);
    }
    #af-social-links .af-stumbleupon{
        color: rgba(235, 72, 35, 1);
    }
    #af-social-links .af-stumbleupon:hover{
        color: rgba(235, 72, 35, 0.8);
    }
    #af-social-links .af-delicious .fa{
        font-weight: bold;
    }
    #af-social-links .af-delicious{
        font-weight: bold;
        color: rgba(0, 118, 232, 1);
    }
    #af-social-links .af-delicious:hover{
        color: rgba(0, 118, 232, 0.8);
    }
    .fa {
        font-size: 17px;
    }
    .social-links {
        margin-top: 1em;
    }
    .social-links ul li {
        margin-left: 1.1em;
        margin-bottom: 0.5em;
    }
</style>
<div class="social-links" id="af-social-links">
  <ul>
    <li><a href="https://github.com/adformatter" class="social-link-item af-github" target="_blank"><i class="fa fa-fw fa-github-alt"></i></a></li>
    <li><a href="https://twitter.com/home?status=adFormatter%20-%20answering%20adblockers,%20reducing%20adFraud%20and%20bringing%20Transparency%20in%20digital%20advertising%20http%3A//adformatter.org" class="social-link-item af-twitter" target="_blank"><i class="fa fa-fw fa-twitter"></i></a></li>
    <li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//adformatter.org" class="social-link-item af-facebook" target="_blank"><i class="fa fa-fw fa-facebook"></i></a></li>
    <li><a href="https://plus.google.com/share?url=http%3A//adformatter.org" class="social-link-item af-google" target="_blank"><i class="fa fa-fw fa-google-plus"></i></a></li>
    <li>
        <a class="social-link-item af-email" target="_blank" href="mailto:?subject=adFormatter - answering adblockers, reducing adFraud and bringing Transparency in digital advergising&body=Hi,I found this website and thought you might like it http://adformatter.org/">
            <i class="fa fa-fw fa-envelope-o"></i>
        </a>
    </li>
    <li><a href="whatsapp://send?text=adFormatter%20-%20answering%20adblockers,%20reducing%20adFraud%20and%20bringing%20Transparency%20in%20digital%20advertising%20http%3A//adformatter.org" class="social-link-item af-whatsapp" target="_blank"><i class="fa fa-fw fa-whatsapp"></i></a></li>
  </ul>
</div>